@font-face {
    font-family: "jua";
    src: url(/fonts/BMJUA_ttf.ttf);
}

h1 {
    font-family: "jua";
}
h2 {
    font-family: "jua";
}
h3 {
    font-family: "jua";
}
h4 {
    font-family: "jua";
}
h5 {
    font-family: "jua";
}
h6 {
    font-family: "jua";
}